MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

MONGO_URI=mongodb://mongo:27017
MONGO_URL=mongodb://mongo:27017
MONGO_DATABASE=velov_weather
MONGO_COLLECTION_WEATHER=weather
MONGO_COLLECTION_STATION=station
MONGO_COLLECTION_AVAILABLITY=availability